body {
  background-image: url(https://i.pinimg.com/originals/2b/af/e7/2bafe7a4421356aef1ef5a650ecc467f.jpg);
  text-align: center;
}
#greeting {
  color: white;
}
h4 {
  color: white;
}
#startOrder {
  margin: 40px;
}
 #pizzaOrder{
   margin-top: 20%;
   color: white;
  display: none;
} 
#size {
  background-color: black;
}
#cheese {
  background-color: black;
}
#meat {
  background-color: black;
}
#veggies {
  background-color: black;
}

#confirmation {
  opacity: 80%;
  margin-top: 20%;
  display: none;
  color:black;
}
#output{
  color: black;
}



