body {
  background-image: url(https://www.bbspizzeria.com/media/site_assets/f6b966671815f8ebecbcf88999ae3357/assets/153784617.jpg);
  text-align: center;
}
#banner {
  background-color: lightslategrey;
  color:black;
}
h4 {
  color: white;
}
#startOrder {
  margin: 40px;
}
 #pizzaOrder{
   margin-top: 20%;
   color: white;
  display: none;
} 
#form-group {
  background-color: black;
}
#size {
  background-color: black;
}
#cheese {
  background-color: black;
}
#meat {
  background-color: black;
}
#veggies {
  background-color: black;
}

#confirmation {
  opacity: 80%;
  margin-top: 20%;
  display: none;
  color:black;
}
#output{
  color: black;
}



